{% extends "base.html" %}

{% block head_bottom %}
<style type="text/css">

h1 {
	font-family: Arial, Helvetica, sans-serif
}

#raffle-space {
/*	width: 300px;
	border: 1px solid silver;
	padding: 10px;*/

/*	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;*/

}

#raffle-space #raffle-link {
/*	font-size: 30px;
	float: left;
	margin-top: 30px;
	margin-left: 20px;*/
}

#victim {
	position: relative;
	width: 400px;
	height: 400px;
}

#victim img {
	width: 400px;
	height: 400px;
	position: absolute;
	top: 0;
	left: 0;
}

#victim #msg-stage {
	padding: 10px;
	width: 100%;
	background-color: rgba(255,255,255,0.5);
	position: absolute;
	left: 0;
	bottom: 0;
}

#victim #raffle-link {
/*	position: absolute;
	left: 0;
	bottom: 0;*/
}
Yeah
#victim #raffle-link a {
	/*margin-left: 10px;*/
}

#member-name {
	display: none;
	/*margin-left: 10px;*/

}


</style>

<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}random_div/init.css" />
{% endblock %}

{% block body_content %}

<h1>{{ event.name }}</h1>

<!-- <div class="time-stage"></div> -->

<div id="victim">
	{% for member in rsvp_set %}
	<img id="{{ member.member_id }}" class="member-photo {{ forloop.counter }}" src="{{ member.photo_url }}" />
	{% endfor %}
	<div id="msg-stage">
		<div id="raffle-link"><a href="javascript:;">Start Raffle</a></div>
		<div id="member-name">Loading ...</div>
	</div>
</div>

<div class="member-names">
	<ol>
	{% for member in rsvp_set %}
	<li class="{{ forloop.counter0 }}">{{ member.name }}</li>
	{% endfor %}
	</ol>
</div>

<ol class="stage"></ol>

{% endblock %}

{% block body_bottom %}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {

	var images = $('#victim img');
	var index = 0;

	var random = function(min, max){
		return Math.random() * (max-min) + min;
	};

	var highlight_name = function(index){
		$('.member-names li').css('fontWeight', 'normal');
		$('.member-names li.' + index).css('fontWeight', 'bold');
	};

	var loop = function(){
		if(index == 0) images.hide();	// hide all images at start
		$(images[index++]).show();		// show next image
		highlight_name(index-1);		// hilight member name
		index = index % images.length;	// reset index
	};

	var show_node = function(node){
		node.show();
		$('#member-name').hide();
	};

	$('#raffle-link a').click(function(){
		// hide 'start raffle' link
		// set looping frequency
		// set looping stop time
		// set 'show link' time

		$(this).hide();
		$('#member-name').show();

		// loop through photos; speed 10th of a second
		var looping = setInterval(loop, 100);
		var random_time = 1000 * random(5, 15);
		$('.time-stage').text(random_time/1000);

		// stop looping at random time
		setTimeout(clearInterval, random_time, looping);
		// show 'start raffle' link
		setTimeout(show_node, random_time, $(this));
	});

});
</script>

{% endblock %}






